
.toast-success-message {
  color: $mat-white;
  background-color: $mat-green;
}

.toast-error-message {
  color: $mat-white;
  background-color: $mat-red;
}

.toast-warning-message {
  color: $mat-grey-600;
  background-color: $mat-yellow;
}
