.mat-green {
  color: $mat-white;
  background-color: $mat-green;
}

.mat-yellow {
  color: $mat-black-87-opacity;
  background-color: $mat-yellow;
}

.mat-indigo {
  color: $mat-white;
  background-color: $mat-indigo;
}

.mat-red {
  color: $mat-white;
  background-color: $mat-red;
}

.mat-pink {
  color: $mat-white;
  background-color: $mat-pink;
}

.mat-blue {
  color: $mat-white;
  background-color: $mat-blue;
}
