.mat-green {
  color: $white;
  background-color: $green;
}

.mat-yellow {
  color: $black-87-opacity;
  background-color: $yellow;
}

.mat-indigo {
  color: $white;
  background-color: $indigo;
}

.mat-red {
  color: $white;
  background-color: $red;
}

.mat-pink {
  color: $white;
  background-color: $pink;
}

.mat-blue {
  color: $white;
  background-color: $blue;
}
