
.toast-success-message {
  color: $white;
  background-color: $green;
}

.toast-error-message {
  color: $white;
  background-color: $red;
}

.toast-warning-message {
  color: $grey-600;
  background-color: $yellow;
}
